body {
  margin: 0 0 0 0;
}

nav {
  background-color: #0F0C08;
  font-size: 17px;
  font-family: 'Poppins', 'sans-serif';
}

.navbar {
  padding-right: 100px;
  padding-left: 100px;
}

.navbar-brand{
  font-weight: bold;
}

.topnav a {
  color: #FAACA8;
}

#title {
  background-color: #000000;
}

.intro {
  /* font-style: "Light 300"; */
  font-family: 'Poppins', 'sans-serif';
  font-size: 10px;
  padding-right: 100px;
  padding-left: 100px;
  /* padding: 200px 50px 200px 100px; */
}

.intro h1 {
  font-size: 37px;
  background: linear-gradient(to right, #2B86C5, #784BA0, #FF3CAC, #FAACA8, #FAACA8, #FAACA8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  position: relative;
  animation-name: anim1;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  /* animation-fill-mode: forwards; */
}

/* Animation row intro */
@keyframes anim1 {
  from{

  }

  to{
}
}


.text-color {
  font-size: 70px;
  /* text-shadow: 3px 3px 3px ; */
  background: linear-gradient(to left, #FFAAC3, #B5525C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* color: linear-gradient(to right, #181D31, #89B5AF); */
}

.mytext {
  height: 700px;
  padding-top: 160px;
}
